# Optional. Used at build time to make Open Graph / Twitter image URLs absolute.
# Social crawlers require absolute URLs.
#
# Example:
#   COURTSIDE_SITE_URL=https://yourdomain.com/courtside/dist
#
# Then:
#   npm run build
COURTSIDE_SITE_URL=
